* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  display: flex;
}
.sidebar {
  background: rgb(0, 7, 61);
  color: white;
  height: 100vh;
  overflow-y: auto;
}
.title_bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.routes {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 5px;
}
.link {
  display: flex;
  color: white;
  gap: 15px;
  padding: 5px, 10px;
  margin-left: 10px;
  border-right: 4px solid transparent;
}
.link:hover {
  border-right: 4px solid white;
  background: rgb(45, 51, 89);
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
