.main-body__style {
  background-color: #ededed;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  margin: auto;
  border: 2px dashed rebeccapurple;
  border-radius: 20px;
  margin-top: 5rem;
}
.main-body__style label{
  font-weight: bold;
  font-size: 25px;
  color: black;
}
.main-body__style.invalid label{
  color: blue;
}
.main-body__style input{
  border-radius: 20px;
  border: 1px solid black;
  padding: 10px;
  font-size: 25px;
}

.main-body__style button{
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  background-color: blueviolet;
  padding: 10px;
  font-size: 25px;
}
.main-body__style button:hover{
color: beige;
}